<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
{{ record.id}}
{{ record.name }}


<form action="/edit/{{ record.id}}" method = "POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input name = "Name" type="string" class="form-control" id="exampleFormControlInput1" value="{{ record.name }}" placeholder="type name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">type</label>
    <select name="type" class="form-control" value="{{ record.type }}" id="exampleFormControlSelect1">
      <option></option>
      <option>Product</option>
      <option>Service</option>

    </select>
  </div>

<div class="form-group">
    <label for="exampleFormControlInput1">bp</label>
    <input name="bp" type="float" class="form-control" id="exampleFormControlInput1" value="{{ record.buying_price }}"
    placeholder="Enter Value">

  </div>

<div class="form-group">
    <label for="exampleFormControlInput1">sp</label>
    <input name ="sp" type="float" class="form-control" id="exampleFormControlInput1" value="{{ record.selling_price }}" placeholder="Enter Value">
  </div>

<div class="form-group">
    <label for="exampleFormControlInput1">Stock</label>
    <input name ="Stock" type="integer" class="form-control"  value="{{ record.stock }}" id="exampleFormControlInput1" placeholder="Enter Value">
  </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>

</form>


</body>
</html>